/* src/components/LayerListWidget.css */
.layer-list-widget {
  position: absolute;
  top: 70px;
  right: 360px;
  z-index: 1000;
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-family: sans-serif;
}

.layer-list-widget h4 {
  margin-top: 0;
}

.layer-list-widget label {
  display: block;
  margin: 5px 0;
  font-size: 14px;
}
