html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.map-container {
  flex: 1;
  display: flex;
}

.leaflet-map {
  flex: 1;
  height: 100%;
}
